aiohttp==3.6.2
altgraph==0.17
anticaptchaofficial==1.0.31
anyio==3.3.2
arrow==1.0.3
art==4.6
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
beautifulsoup4==4.8.1
boto3==1.18.58
botocore==1.21.58
Brotli==1.0.9
capmonster-python==1.3.0
captchatools==1.1.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.7
click==7.1.2
cloudscraper==1.2.58
colorama==0.4.1
colorlog==4.8.0
comtypes==1.1.10
config==0.5.1
configparser==5.0.1
crayons==0.4.0
cryptography==3.4.7
currency.converter==0.5.5
dhooks==1.1.3
discord==1.0.1
discord-webhook==0.14.0
discord.py==1.7.3
discum==1.4.0
Faker==13.11.1
filetype==1.0.9
Flask==1.1.2
future==0.18.2
geographiclib==1.50
geopy==2.1.0
gevent==21.1.2
greenlet==1.0.0
h11==0.12.0
h2==2.6.2
helheim @ file:///C:/Users/Administrator/Desktop/Hekheim/Latest/helheim-0.8.6-py38-windows.x86_64.tar.gz
hpack==3.0.0
httpcore==0.13.7
httpx==0.19.0
hyper==0.7.0
hyperframe==3.2.0
idna==3.3
iniconfig==1.1.1
instagrapi==1.17.13
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
JSON-minify==0.3.0
json-spec==0.10.1
jsoncomment==0.4.2
jwt==1.2.0
lxml==4.4.1
lzstring==1.0.4
MarkupSafe==2.0.1
mohawk==1.1.0
MouseInfo==0.1.3
multidict==4.7.5
names==0.3.0
numpy==1.20.3
oauthlib==3.1.1
packaging==21.0
pause==0.3
pefile==2019.4.18
Pillow==8.3.1
pip-review==1.3.0
playsound==1.2.2
pluggy==1.0.0
polling==0.3.1
polling2==0.5.0
prompt-toolkit==1.0.14
proxy-manager==0.0.6
ProxyManager==0.0.6
psutil==5.8.0
py==1.10.0
PyAutoGUI==0.9.53
pycparser==2.20
pycryptodome==3.11.0
pycryptodomex==3.18.0
pydantic==1.10.9
PyDatadome @ git+https://github.com/66niko99/PyDatadome.git@b2fb843a4e32e9f22d4ff10797031c3d4025c45a
pyfiglet==0.8.post1
PyGetWindow==0.0.9
Pygments==2.10.0
PyInquirer==1.0.3
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pymongo==4.1.1
PyMsgBox==1.0.9
pyparsing==3.0.4
pyperclip==1.8.2
pypresence==4.0.0
PyRect==0.1.4
PyScreeze==0.1.27
PySocks==1.7.1
pytest==6.2.5
python-anticaptcha==0.7.1
python-dateutil==2.8.1
python-dotenv==0.15.0
PyTweening==1.0.3
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
pywinauto==0.6.6
random-user-agent==1.0.1
regex==2021.10.8
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
s3transfer==0.5.0
schedule==1.1.0
secret==0.8
selenium==3.141.0
six==1.14.0
slackclient==2.9.3
sniffio==1.2.0
soupsieve==2.0
tabulate==0.8.9
tls-client==0.0.8
toml==0.10.2
tweepy==3.10.0
TwoCaptcha==0.0.1
typing_extensions==4.7.1
ua-parser==0.10.0
urllib3==1.26.7
wcwidth==0.2.5
webdriver-manager==3.2.2
webserver==0.10.3
websocket-client==0.59.0
Werkzeug==1.0.1
xmltodict==0.12.0
yarl==1.4.2
zope.event==4.5.0
zope.interface==5.3.0
